{% extends 'base.html' %}

{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('logo-image').style.cssText='position:relative; width:400px; top: 0%; left:0%;';
            document.getElementById('welcome-col').classList.remove('d-none');
        });
    </script>
    <style> 
        .log-in-container {
            margin:auto; 
        }
        .log-in-row {
            padding:2%;
        }
        form{ 
            text-align:center; 
            padding:2%; 
        }
        button {
            width: 100px;
        }
        input {
            width: auto;
        }
        
    </style>
    <div class="container log-in-container white-background">
        <div class="row log-in-row">
            <div class="col">
                <form method="POST" class="small-font">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }} <br>
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    {{ form.password }}  <br>
                    <ul>
                        <li>Please enter a correct username and password. Note that both fields may be case-sensitive.</li>
                    </ul>
                    <button type="submit" class="small-font">Log In</button> <br>
                    
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}