<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>DogFacts</title>
        <link href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        
    </head>
    <body>
        <div class="container" style="border:1px solid black">
            <div class="row">
                <div class="col">Testing Bootstrap</div>
            </div>
        </div>
        
        <h2>HOME</h2>
        <div class="container" style="border:1px solid black">
            <div class="row">
                
                {% for fact in facts %}
                    <div class="col">
                        <p>{{fact.user}} says: {{fact.text}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <p>This is homepage</p>
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p> 
            <p><a href="{% url 'logout' %}">Log out</a></p>
            <p>Add your fact:</p>
            <form action="{% url 'addFact' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="new_fact" id="new_fact" placeholder="Let us know your fact!" autocomplete="off" required>
                <button type="submit">Submit</button>
            </form>
        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'signup' %}">Sign up</a> 
            <a href="{% url 'login' %}">Log In</a> 
        {% endif %}
        </body>
</html>