
{% extends 'base.html' %}

{% block content %}
<style>
    #did-you-know2, #did-you-know1, #did-you-know3, #did-you-know4 {
        width: 500px; 
        height:330px; 
        padding-bottom:0; 
        padding-top:60px; 
        padding-right:115px; 
        padding-left:20px; 
        text-align:center; 
        font-size:26px
    }
    #want-more:hover {
        transform: scale(1.1);
    }
</style>
<div class="container" id="more-container" style="max-width: 100%; padding:0px; margin:0px; visibility:hidden">
    <div class="row justify-content-end" style="padding:0px; margin:0px;">
        <div class="col-5"  style="margin-right:50px;">
            <form action="{% url 'morefacts' %}" style="margin:0px; padding:0px; font-size: 21px;" method="POST">
                {% csrf_token %}
                    <button type="submit" style="width:100%; border:3px solid black; margin:0px; padding:0px; background-color:white; text-align:center; font-size: 21px;">Do you want to know more?</button>
            </form>
        </div>
    </div>

</div>

<div class="container" style="padding: 0px; margin:0px; max-width:100%;">
    <div class="row justify-content-center" style="height:310px; margin:0px;">
        <div class="col" style="height:310px;">
            <section style="padding:0px; margin:0px; height:310px;">
                <blockquote class="electric mybubble d-none" id='did-you-know1'> 
                    <div class="col">
                        <p>Did you know, that <span>45%</span>of dogs sleep in their owner’s bed?</p>
                    </div>
                </blockquote>
            </section>
        </div>
    </div>
    <div class="row justify-content-between" style="height:310px; margin:0px;">
        <div class="col-4" style="height:310px;">
            <section style="padding:0px; margin:0px; height:310px;">
                <blockquote class="electric mybubble d-none" id='did-you-know2'> 
                    <div class="col">
                        <p>Did you know, that The Basenji is the <span>only</span> barkless dog in the world?</p>
                    </div>
                </blockquote>
            </section>
        </div>
        <div class="col-4" style="height:310px;">
            <section style="padding:0px; margin:0px; height:310px;">
                <blockquote class="electric mybubble d-none" id='did-you-know3'> 
                    <div class="col">
                        <p>Did you know, that there are <span>hundreds</span> of different breeds of dogs?</p>
                    </div>
                </blockquote>
            </section>
        </div>
        
    </div>

</div>
    
{% endblock content %}