{% extends 'base.html' %}

{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('logo-image').style.cssText='position:relative; width:400px; top: 0%; left:0%;';
            document.getElementById('welcome-col').classList.remove('d-none');
            
        });
    </script>
    <style>
        .facts-col {
            margin-top:30px;
        }
        .text-col {
            text-align:center;
        }
        p {
            margin: auto; 
        }
    </style>

    <div class="container facts-col">
        {% for fact in facts %}
        <div class="row">
            <div class="col-2 text-col margin-five white-background" >
                <p class="small-font">{{fact.user}}</p>
            </div>
            <div class="col text-col margin-five white-background">
                <p class="small-font">{{fact.text}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock content %}