
{% extends 'base.html' %}

{% block content %}
<style>
    .electric {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/electric.svg);
        width: 500px;
        font-size:26px;
        font-style: italic;
        padding-bottom:0; 
        padding-top:60px; 
        padding-right:147px; 
        padding-left:37px; 
        text-align:center; 
        height:330px; 
    }
    .more-container:hover {
        transform: scale(1.05);
    }
    .more-col {
        margin-right:50px;
    }
    .more-button {
        width:100%; 
        text-align:center; 
    }
    .facts-container, .more-container {
        max-width:100%;
    }
    .facts-row {
        height:310px; 
        margin:0px;
    }
    span {
        font-weight: bolder;
        font-size: 35px;
    }
    section {
        display: flex;
        justify-content: center;
        align-content: center;
    }
</style>
<div class="container invisible more-container no-padding-margin" id="more-container">
    <div class="row justify-content-end no-padding-margin">
        <div class="col-5 more-col">
            <form action="{% url 'morefacts' %}" class="no-padding-margin small-font" method="POST">
                {% csrf_token %}
                    <button type="submit" class="small-font no-padding-margin white-background more-button">Do you want to know more?</button>
            </form>
        </div>
    </div>

</div>

<div class="container no-padding-margin facts-container">
    <div class="row justify-content-center facts-row">
        <div class="col">
            <section>
                <blockquote class="electric d-none" id='did-you-know1'> 
                    <div class="col">
                        <p>Did you know, that <span>45%</span> of dogs sleep in their owner’s bed?</p>
                    </div>
                </blockquote>
            </section>
        </div>
    </div>
    <div class="row justify-content-between facts-row">
        <div class="col-4">
            <section>
                <blockquote class="electric d-none" id='did-you-know2'> 
                    <div class="col">
                        <p>Did you know, that The Basenji is the <span>only</span> barkless dog in the world?</p>
                    </div>
                </blockquote>
            </section>
        </div>
        <div class="col-4">
            <section>
                <blockquote class="electric d-none" id='did-you-know3'> 
                    <div class="col">
                        <p>Did you know, that there are <span>hundreds</span> of different breeds of dogs?</p>
                    </div>
                </blockquote>
            </section>
        </div>
        
    </div>

</div>
    
{% endblock content %}