{% extends 'base.html' %}

{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('logo-image').style.cssText='position:relative; width:400px; top: 0%; left:0%;';
            document.getElementById('welcome-col').classList.remove('d-none');
        });
    </script>
    <style> 
        input {
            width: auto;
        }
        .sign-up-row {
            padding:2%;
        }
        form {
            text-align:center; 
            padding:2%;
        }
    </style>
    <div class="container white-background">
        <div class="row sign-up-row">
            <div class="col">
                <form method="POST" class="small-font">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }} <br>
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    {{ form.password1 }}  <br>
                    <label for="{{ form.password2.id_for_label }}">Confirm password:</label>
                    {{ form.password2 }}  <br>
                    <ul>
                        <li>Username must be 150 characters or fewer. Letters, digits and @/./+/-/_ only.</li>
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>


                    <button class="white-background small-font max-width" type="submit">Sign Up</button> <br>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}